/* Universal Styles */

* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 69px;
  width: 99%;
  border-bottom: 1px solid seashell;
  font-size: 22px;
  margin: 0 auto;

}

#logo {
  height: 50px;
}

header .h-links {
  margin: 0 10px;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../media/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
  top: 70px;
  margin: 0 auto;
}

.jumbotron .mission-label {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  opacity: 1;
}

.jumbotron .mission-label h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.jumbotron .mission-label h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
