/* Universal Styles */

* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  font-size: 22px;
  z-index: 10;
  opacity: 1;

}

#logo {
  height: 50px;
}

header .h-links {
  margin: 0 10px;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../media/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
  top: 62px;
  margin: 0 auto;
}

.jumbotron .mission-label {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  opacity: 1;
}

.jumbotron .mission-label h2,
.top-teas h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.jumbotron .mission-label h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Tea of the Month Section */

.top-teas {
  position: relative;
  top: 150px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-teas .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .row {
  width: 1000px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .row .item {
  position: relative;
  background-size: contain;
  height: 200px;
  width: 300px;
  margin: 0 20px;
}

.container .row h4 {
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

/*
#blitz {
  background-image: url("../media/images/img-berryblitz.jpg");
}

#rum {
  background-image: url("../media/images/img-spiced-rum.jpg");
}

#donuts {
  background-image: url("../media/images/img-donut.jpg");
}

#myrtle {
  background-image: url("../media/images/img-myrtle-ave.jpg");
}

#bizzare {
  background-image: url("../media/images/img-bedford-bizarre.jpg");
}
*/
