/* Universal Styles */

body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: black;
  border-bottom: 1px solid seashell;
  font-size: 22px;
  z-index: 10;
  opacity: 1;

}

#logo {
  height: 50px;
}

header .h-links {
  margin: 0 10px;
}

header .h-links a {
  color: seashell;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../media/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  position: relative;
  top: 62px;
  margin: 0 auto;
}

.jumbotron .mission-label {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  opacity: 1;
}

.jumbotron .mission-label h2,
.top-teas h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.jumbotron .mission-label h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Tea of the Month Section */

.top-teas {
  position: relative;
  top: 150px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-teas .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.top-teas h5 {
  font-size: 18px;
  margin: 5px;
}

.container .row {
  width: 1000px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .row .item {
  position: relative;
  background-size: contain;
  height: 200px;
  width: 300px;
  margin: 0 20px;
}

.container .row h4 {
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

/* Locations Section */

.locations {
  width: 1200px;
  height: 500px;
  position: relative;
  top: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../media/images/img-locations-background.jpg);
  background-size: 1200px 700px;
  background-repeat: no-repeat;
}

.locations h2 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 30px;
}

.box h3 {
  font-size: 20px;
  margin: 5px auto;
}

.box p {
  font-weight: bold;
  font-size: 18px;
  margin: 5px auto;
}

.locations .container {
  display: flex;
  align-items: center;
}

.container .box {
  height: 250px;
  width: 300px;
  margin: 0 20px;
  opacity: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Footer Section */

footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
}

footer h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer h5 {
  margin-top: 5px;
  margin-bottom: 20px;

}

.copyright {
  text-align: left;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 20px;
}
